@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #3b3b98;
  font-family: 'Muli', sans-serif;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  color: #fff;

  @include center;
  overflow: hidden;
  padding: 10px;
  margin: 0;
}
